# Root
.env
compose.yml
plan.md
/package.json
/package-lock.json
**/.idea/
**/node_modules/
**/.DS_Store
**/__pycache__

# Backend
backend/.coverage
backend/.env
backend/apply_config.sh
backend/tests/test.db
backend/tests/cov.html/
backend/.venv
backend/breaking_changes.md

# Frontend
frontend/dist