services:
  # The MySQL and Redis containers are optional if you already have your own DB in place.
  mysql:
    container_name: mysql
    image: mysql:latest
    env_file:
      - .env
    networks:
      - bookhaven-net
    volumes:
      - /path/to/mysql/storage:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - bookhaven-net

  bookhaven:
    container_name: bookhaven
    image: hrbingr/bookhaven:latest
    env_file:
      - .env
    ports:
      - ${APP_PORT}:${APP_PORT}
    volumes:
      - /path/to/epub/directory:${BASE_DIRECTORY}
      # If uploads feature is enabled:
      - /path/to/uploads/directory:${UPLOADS_DIRECTORY}
    networks:
      - bookhaven-net
    depends_on:
      mysql:
        condition: service_healthy

networks:
  bookhaven-net:
    driver: bridge
