services:
  # The MySQL and Redis containers are optional if you already have your own DB in place.
  mysql:
    container_name: mysql
    image: mysql:latest
    env_file:
      - .env
    networks:
      - bookhaven-net
    volumes:
      - /path/to/mysql/storage:/var/lib/mysql

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - bookhaven-net

  bookhaven:
    container_name: bookhaven
    image: hrbingr/bookhaven:latest
    env_file:
      - .env
    ports:
      - ${APP_PORT}:${APP_PORT}
    volumes:
      - /path/to/epub/directory:${BASE_DIRECTORY}
    networks:
      - bookhaven-net
    depends_on:
      - mysql

networks:
  bookhaven-net:
    driver: bridge