<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookLib</title>
</head>
<body>
    <h1>BookLib</h1>
    <ul>
        {% for book in books %}
        <li>
            <a href="{{ url_for('download', relative_path=book.relative_path) }}">
                {{ book.title }}
            </a>
            by {{ book.authors }}{% if book.series and book.seriesindex != 0.0 %}, book {{ book.seriesindex|format_series_index }} of the {{ book.series }} series{% endif %}.
        </li>
        {% endfor %}
    </ul>
</body>
</html>